{
  "evm_large_transfer_usdc_discord": {
    "name": "Large Transfer Discord Notification",
    "trigger_type": "discord",
    "config": {
      "discord_url": "https://discord.com/api/webhooks/123-456-789",
      "message": {
        "title": "large_transfer_discord triggered",
        "body": "Large transfer of ${event_0_value} USDC from ${event_0_from} to ${event_0_to} | https://etherscan.io/tx/${transaction_hash}#eventlog"
      }
    }
  },
  "stellar_large_swap_by_dex_discord": {
    "name": "Large Swap By Dex Discord Notification",
    "trigger_type": "discord",
    "config": {
      "discord_url": "https://discord.com/api/webhooks/123-456-789",
      "message": {
        "title": "large_swap_by_dex_discord triggered",
        "body": "${monitor_name} triggered because of a large swap of ${function_0_4} tokens | https://stellar.expert/explorer/public/tx/${transaction_hash}"
      }
    }
  }
}
